.login-content {
    margin: auto;
    text-align: center;
    display: grid;
    place-content: center;
    width: 100rem;
    height: 100vh;
}

.login-content-box {
    padding: 2rem 2rem 2rem 2rem;
    border: 5px solid rgb(87, 155, 87);
    background-color: rgb(5, 44, 0);
    border-radius: 10px;
}

.login-header {
    color: rgb(87, 155, 87);
    font-size: 2.5rem;
}

.login-footer {
    color: rgb(87, 155, 87);
    padding-top: 1rem;
}

.login-btn {
    background-color: rgb(87, 155, 87);
    border: 1px solid black;
}

.login-btn:hover {
    background-color: rgb(18, 51, 18);
}