.polls-header {
    text-align: center;
    font-size: 2rem;
    color: aliceblue;   
}

.polls-container {
    border: 5px solid rgb(133, 133, 133);
    border-radius: 10px;
    padding: 1rem 1rem 1rem;
    background-color: rgba(78, 78, 78, 0.246);
}

.polls-container-inner {
    display: grid;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.226);
    margin-bottom: 1rem;
}

.result-text {
    color: aliceblue;
    font-size: 1.1rem;
    margin-bottom: .2rem;
}

.result-count {
    color: aliceblue;
    font-size: 1.1rem;
    margin-bottom: .2rem;
}

.result-container {
    justify-content: right;
}

.poll-btn-container {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 0rem;
}

.poll-btn-container .poll-btn {
    background-color: aliceblue;
    margin-left: 1rem;
}

.poll-btn-container .poll-btn:hover {
    background-color: rgb(192, 198, 204);
}

.poll-vote-btn {
    background-color: aliceblue;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
}

.poll-vote-btn:hover {
    background-color: rgb(40, 165, 18);
}

.poll-title {
    text-align: center;
    font-size: 1.5rem;
    color: aliceblue; 
    text-decoration: underline;
}